In [24]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
console = "console/vgsales.csv"

console_raw_pd = pd.read_csv(console)

In [25]:
console_raw_pd

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [26]:
console_raw_pd.groupby("Platform","Global_Sales").sum()

ValueError: No axis named Global_Sales for object type <class 'pandas.core.frame.DataFrame'>

In [27]:
del console_raw_pd['Year']
del console_raw_pd['Rank']
del console_raw_pd['Name']
del console_raw_pd['Genre']
del console_raw_pd['Publisher']
del console_raw_pd['NA_Sales']
del console_raw_pd['EU_Sales']
del console_raw_pd['JP_Sales']
del console_raw_pd['Other_Sales']

In [29]:
console_raw_pd

      Platform  Global_Sales
0          Wii         82.74
1          NES         40.24
2          Wii         35.82
3          Wii         33.00
4           GB         31.37
...        ...           ...
16593      GBA          0.01
16594       GC          0.01
16595      PS2          0.01
16596       DS          0.01
16597      GBA          0.01

[16598 rows x 2 columns]

In [32]:
console_agg_pd = console_raw_pd.groupby(['Platform']).sum()
console_agg_pd

          Global_Sales
Platform
2600             97.08
3DO               0.10
3DS             247.46
DC               15.97
DS              822.49
GB              255.45
GBA             318.50
GC              199.36
GEN              28.36
GG                0.04
N64             218.88
NES             251.07
NG                1.44
PC              258.82
PCFX              0.03
PS              730.66
PS2            1255.64
PS3             957.84
PS4             278.10
PSP             296.28
PSV              61.93
SAT              33.59
SCD               1.87
SNES            200.05
TG16              0.16
WS                1.42
Wii             926.71
WiiU             81.86
X360            979.96
XB              258.26
XOne            141.06